body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   background-color:#245494;
}
.club{
    padding-top: 5rem;
}
.main{
padding-top: 5rem;
}

   


.weather-container {
    text-align: center;
    background-color:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
   
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.weather-info {
    padding: 20px;
}
